.crypto{
    background-color: #0F1416;
    padding-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 2.6rem;
}

.crypto-cont{
    margin: 0 auto;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 50px;

}

.crypto-text-grid{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 5rem; 
}

.crypto-text-grid h1{
    font-size: 1.8rem;
}

.crypto-text-grid a{
    color: #DEE1D4;
    text-decoration: none;
    font-size: .8rem;
}

/*.crypto-grid{
    margin-top:-35px;
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
        
}



*/

.crypto-text-grid h1{
    color:#DEE1D4;

}

.crypto-text-grid h3{
    color:#DEE1D4;
    text-align: right;

}


/*  Codigo V.0 /*
/*
.crypto-post-grid{
    gap: 1rem;
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    
}



.crypto-post-grid p{
    color: #DEE1D4;
    font-size: .8rem;
    margin-top: 1.6rem;
   
  
   
}

.post-crypto-grid{
   
    display:grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-bottom: 35px;
}


.rigt-crypto{
margin-left:80px ;
}


.post-crypto-grid a{
    color: #DEE1D4;
    font-size: 1.1rem;
    text-decoration: none;
    
}


.post-crypto-grid p{
    color: #DEE1D4;
    font-size: .8rem;
    
}

.text-crypto{
    margin-left: 1rem;
}
.text-crypto p{
    margin-top: -40px;
}
.text-crypto h1{
    margin-top: -8px;
}
*/

/* Codigo V.1*/

.grid-cont2-crypto{
  padding: 2rem;
  margin-top: -3.5rem;
    display: grid;
    grid-template-columns: 50% 50% ;/* Define columns */
    gap:2rem;
}

.blogs2-crypto h3{
    color: #DEE1D4;
}

.blogs2-crypto p{
    color: #DEE1D4;
    font-size: .8rem;
}

.blog3-crypto{
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap:1rem;
}

.blog3-crypto h3{
    color: #DEE1D4;
    font-size: 1.1rem;
}

.blog3-crypto p{
    color: #DEE1D4;
    font-size: .8rem;
    
}

.meta-description-crypto{
    margin-top: -1rem;
    margin-right: 3rem;
}


.meta-desc-post1{
    padding-top: .2rem;
    padding-left: 0;
    padding-bottom: 2rem;
    padding-right: 2rem;
      display: grid;
      grid-template-columns: 50% 50% ;/* Define columns */
      gap:1rem;
}

.blog p{
    margin-top: 1rem;
}


/*************** Movil ***************/

@media screen and (min-width:320px) and (max-width:800px) {
    .crypto-cont{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
      }

      .meta-desc-post1{
        padding: 0;
          display: grid;
          grid-template-columns: repeat(1,minmax(0,1fr));
          gap:0;
    }
  
      .crypto-grid{
        width: auto;
        grid-template-columns: repeat(1,minmax(0,1fr));
    padding-left:10px;
    padding-right: 10px;
      }

      .post-crypto-grid{
        
        grid-template-columns: repeat(1,minmax(0,1fr));
        width: auto;
      }

      .crypto-text-grid{
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding-left:10px;
        padding-right: 10px; 
        padding-top: 0;
        gap:0;
    }

    .crypto-text-grid h3{
        text-align: left;
        margin-top: -.5rem;
    }


      .crypto-post-grid{
        
        padding-left:10px;
    padding-right: 10px;
        grid-template-columns: repeat(1,minmax(0,1fr));
        width: auto;
    }

      .crypto-post-grid p{

        margin:0;  
    }
    .crypto-post-grid a{
        margin-right: -10rem;
    }

    .crypto-first-image{
        width: 100%;
  height: 15rem;
      
    }

    .text-crypto p{
        margin-top: -1.1rem;
    }
    .text-crypto h1{
        margin-top: 1rem;
    }
    

    .rigt-crypto{
        margin-left:0 ;
        margin-top: 3rem;
        }

        .grid-cont2-crypto{
            padding: 2rem;
            margin-top: -3.5rem;
              display: grid;
              grid-template-columns: repeat(1,minmax(0,1fr));
              gap:2rem;
          }

          .blog3-crypto{
            padding-bottom: 2rem;
            display: grid;
            grid-template-columns: repeat(1,minmax(0,1fr));
            gap:1rem;
        }


}

@media screen and (min-width:800px) and (max-width:1200px) {
    .crypto-grid{
        width: auto;
        grid-template-columns: repeat(1,minmax(0,1fr));
    padding-left:10px;
    padding-right: 10px;
      }

      .post-crypto-grid{
        
        grid-template-columns: repeat(1,minmax(0,1fr));
        width: auto;
      }

      .crypto-text-grid{
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding-left:10px;
        padding-right: 10px; 
        padding-top: 0;
        gap:0;
    }

    .crypto-post-grid{
        
        padding-left:10px;
    padding-right: 10px;
        grid-template-columns: repeat(1,minmax(0,1fr));
        width: auto;
    }

    .rigt-crypto{
        margin-left:0 ;
        margin-top: 3.2rem;
        }

        .text-crypto h1{
            margin-top:.1rem ;
        }

       
        

        

      
}


/*************** Pantalla grande ***************/

@media only screen and (min-width:1400px) {
    .crypto-cont{
        margin: 0 auto;
        overflow: hidden;
        padding-right: 90px;
        padding-left: 90px;
    }


    .text-crypto h1{
        margin-top: .3rem;
    }

}