.blog-section2{
    margin-top: -5.5rem;
     padding-bottom  : 3rem;
     padding-right: 50px;
     padding-left: 50px;
     margin-right: -.5rem;
     margin-left: -.5rem;
     background-color: #eae8df;
     overflow: hidden; 
 }
 
 ul {
     list-style:none;
 }



 /*Grid 2 pruebas */
 .grid-cont2{
    padding: 2rem;
    display: grid;
    grid-template-columns: 60% 40%;
    gap:2rem;
      
 }

 a {
     text-decoration: none;
     color: #0F1416;
 }

.izq-grid2{
    margin-top: -1.5rem;
}

 .blogs1 h3{
    margin-top: 0;
font-size: 2.8rem;
 }

 .blogs1 p{
    font-size: 1rem;
 }

 
 .blogs3 {
    margin-top:-1rem ;
 }


.img-central{
    position: absolute; /* Position the image absolutely within the container */
    top: 0; /* Position the image at the top of the container */
    left: 0; /* Position the image at the left of the container */
    width: 100%; /* Set the width of the image to 100% of the container */
    height: 65%; /* Set the height of the image to 100% of the container *
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */

}
.container{

    position: relative; /* Required for absolute positioning of the image */
    width: 100%; /* Set the width of the container */
    height: 100%; /* Set the height of the container */

   
}

 .blogs2{
display: grid;

 }

 .blog-grid-right{
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;/* Define columns */
    gap:1rem;
 }

 .meta-grid-3{
    margin-top: -1rem;
 }

 .meta-grid-3 h4{
    font-size: .75rem;
 }

 .meta-grid-3 a{
    font-size: .8rem;
 }

 /*Grid 2 pruebas */
 
 @media screen and (min-width:320px) and (max-width:800px) {
     .blogs2{
       
         padding: 0;
         display:grid;
         grid-template-columns: repeat( 1,minmax(0,1fr));
             gap: 2rem;
           
     } 
 
     .blog-section2{
         margin-top: -2.5rem;
          padding-bottom  : 3rem;
          padding-right: 50px;
          padding-left: 50px;
          margin-right: -.5rem;
          margin-left: -.5rem;
          background-color: #eae8df;
          overflow: hidden; 
      }


      .grid-cont2{
        padding:0;
        display: grid;
        grid-template-columns: repeat( 1,minmax(0,1fr));
        gap:2rem;
      }
    
     .blog3{
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat( 1,minmax(0,1fr));
        gap:2rem;
     }
 
   
 }



