---
import '../styles/navigation.css'
import {Image} from 'astro:assets';
import myImageFooter from "../assets/PNews-logo.svg";

---

<div class="content">
<div class="head-grid">
    <div class="head-logo">
      
        <a href="/"><Image src={myImageFooter} alt="Plankton-News-Logo" class="header-img" 
        
        />
      </a>
      </div>
      <div class="nav-links">
        <a href="/planktonwallet/">Plankton Wallet</a>
      <a href="/analisis-financiero/">Análisis</a>
      <a href="/crypto/">Crypto</a>
      <a href="/finanzas/">Finanzas</a>
      <a href="/tecnologia/">Tecnología</a>
      <!--<a href="/blog/">Contacto</a>--> 

      <a href="/suscribirme/" class="busqueda-menu">Suscribirme</a>
      <a href="https://planktonwallet.com/" class="suscribirme-menu">Ingresar</a>
        </div> 

        <a class="movil-ingresar" href="/suscribirme">Suscribirme</a>
        <a class="movil-susc" href="https://planktonwallet.com/">Ingresar</a>
        
        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
    </div>
</div>


    