---
const Firstpost = await Astro.glob('../pages/plankton-wallet/custodia-en-plankton-wallet-y-gana-beneficios.md');

const posts = await Astro.glob('../pages/plankton-wallet/*.md');

import '../styles/pw.css';
import {Image} from 'astro:assets';
import myImage from "../assets/Cover_Blog_PW_16.02.24.png";
---

<section class="pw">
    <div class="pw-cont">
        <div class="pw-text-grid">
            <h1>Plankton Wallet</h1>
            <h3><a href="/planktonwallet">Ver más > </a></h3>
        </div>
        <div class="pw-grid">
            <div class="pw-first-image"></div>

            <div class="pw-pst">
                <h1>{Firstpost.map((post) =><a href={post.url}>{post.frontmatter.title}</a>)}</h1>
                <p>¿Qué es el Ecosistema Plankton Wallet? ¿Es usted un inversor digital que busca adelantarse a las tendencias? 
                   ¿Desea invertir tanto en activos FIAT como en criptoactivos sin tener que utilizar varias plataformas? 
                   ¿Desea apoyarse en nuestra infraestructura para ofertarse y crear su propia solución?Entonces Plankton Wallet es para usted. 
                   Plankton Wallet es un ecosistema de inversión que proporciona a los usuarios una plataforma segura y fácil de usar para transacciones de criptodivisas e 
                   inversiones, todo desde un mismo lugar. Desde los pequeños inversionistas principiantes hasta los grandes expertos en el área pueden beneficiarse de los atributos 
                   del Ecosistema Plankton Wallet. Echemos un vistazo más de cerca a lo que hace que Plankton Wallet sea tan especial...</p>
                <h4>{Firstpost.map((post) =><h4>{post.frontmatter.author}</h4>)}</h4>
            </div>
        </div>

    </div>

</section>